@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

:root {
  --background-color: #FBFAFF;
  --text-color: #1b1b1f;
  --primary-color: #9b9b9b;
  --secondary-color: #ffffff;
  --button-color: #444444b9;
  --spacing: 30px;
}

body {
  background-color: var(--background-color);
}

header {
  display: flex;
  padding: var(--spacing);
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

header > nav {
  display: flex;
  justify-content: flex-start;
}

header > img {
  width: 90px;
  height: auto;
}

.nav-bar {
  display: flex;
  list-style: none;
  gap: var(--spacing);
  margin-left: 2px;
}


.menu {
  display: none;
  width: 30px;
  height: 30px;
}

.hero {
  display: flex;
  align-items: center;
  padding: 2%;
}

.hero-text {
  flex: 1;
  text-align: justify;
}

.hero h1 {
  font-size: 38px;
  margin-bottom: 10px;
}
.hero p {
 margin-right: 2%;
}
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 5%;
}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  border-radius: 5%;
}

div h2{
  padding: 2%;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 2%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--primary-color);
}

.project-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5%;
}

.skills {
  max-width: 400px;
  padding: 20px;
}

.skills ul {
  list-style: none;
  margin-left: 2%;
}

.skills li {
  margin: 10px 0;
}

.skill-name {
  font-weight: bold;
}

.skill-bar {
  height: 20px;
  border-radius: 10px;
  position: relative;
}

.skill-level {
  height: 60%;
  background-color: var(--primary-color);
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: var(--spacing);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.contact, .contact-form {
  flex: 1;
  width: 50%;
}

.contact h2 {
  font-size: 24px;
}

.contact p{
  padding: 2%;
  text-align: justify;
}

.contact ul {
  list-style: none;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--button-color);
  color:var(--secondary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.copy {
  margin-top: 20px;
  width: 100%; 
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--button-color);
}

a:hover {
  color: var(--primary-color); 
}

a:visited {
  color: var(--text-color); 
}

@media (max-width: 768px) {
  header > nav{
    display: none;
  }
  .menu{
    display: block;
  }
  .hero p, .hero h1{
    font-size: 16px;
    text-align: justify;
  }

  .contact{
    flex-basis: content;
  }
  .contact p , .contact li{
    font-size: 14px;
    text-align: justify;
  }
}